<div class="modal-body">
    <div class="modal-header">
      <h2 class="modal-header-title">
        <i class="fa fa-info-circle"></i>
        <span class="p-l-1">Update Node</span>
      </h2>
  
      <a class="modal-header-close" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
      </a>
    </div>
  
    <form class="form" id="master-data-reason-code-update-node-form">
      <div class="modal-content" id="modal-modal-content">
        <div class="text-center">

          <p id="master-data-reason-code-update-node-note-p">You are updating a <strong>{{model.info.self}}</strong> </p>
          <input class="md-equipment-datalist-input" id="master-data-reason-code-update-node-input" style="width:70%" maxlength="{{model.maxlength}}" value="{{model.inputVal}}" type="text" name="node">

        </div>
  
        <div class="custom-separator" style="margin-top:30px"></div>
  
        <div class="button-wrapper" style="text-align:center; margin-top:30px">
          <button
            id="master-data-reason-code-update-node-cancelBtn"
            type="button"
            class="btn btn-danger"
            style="width:9rem"
            ng-click="dismiss()"
          >
            Cancel
          </button>
  
          <button
            id="master-data-reason-code-update-node-submitBtn"
            type="button"
            class="btn btn-success"
            style="width:9rem"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  